<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title> vue Demo </title>
<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/leftNavigation.css}" />
<script th:src="@{/js/jquery-1.10.2.min.js}" type="text/javascript"></script>
<script th:src="@{/js/vue-v2.5.17.js}" type="text/javascript"></script>
</head>
<style>
	.class1{
	  background: #444;
	  color: #eee;
	}
</style>
<body>
	<div class="bodys">
		<h1>site : {{jinx}}</h1>
		<!-- 双向绑定 -->
		<input v-model="jinx"></input>
		<h1>site : {{details()}}</h1>
		<h1 v-html="vhtml"></h1>
		<div v-bind:class="{'class1':class1}">v-bind</div>
		<p v-if="vif">v-if</p>
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">反转字符串</button>
	</div>
	<div class="d2">
		{{t1|t1me}}
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
	var vm = new Vue({
		el: '.bodys',
		data: {
			site: "菜鸟教程",
			vhtml: "www.runoob.com",
			jinx: "10000",
			class1:true,
			vif:true,
			message: 'Runoob!'
		},
		methods: {
			details: function() {
				return  this.site + " - 学的不仅是技术，更是梦想！";
			},
			reverseMessage: function () {
		      this.message = this.message.split('').reverse().join('')
		    }
		}
	})
</script>
<script type="text/javascript" th:inline="javascript">
	new Vue({
		el: '.d2',
		data: {
			t1:'jinx'
		},
		filters:{
			t1me: function(value) {
				if(!value){return 'error'};
				value=value.toString();
				return value.charAt(0).toUpperCase()+value.slice(1);
			}
		}
	})
</script>
</html>